/* f1_______________________ */

.info {
  border: solid black;
  width: 50%;
  height: 110vh;
  text-align: center;
}

.information {
  font-size: 75%;
}

.bild {
  height: 50vh;
  width: 100%;
  background-image: url(bilder/F1\ drivers.avif);
  background-size: cover;
  background-position: center;
}

#formulär {
  border: solid black;
  width: 50%;
  height: 110vh;
  text-align: center;
}

.rubrik_formulär {
  margin: 5vh 0;
  text-decoration: underline;
}

input {
  width: 100%;
  margin: 2.5vh 0;
  display: inline-block;
}

input:hover {
  transition: 0.8s;
  background-color: rgb(216, 229, 233);
}

#knapp {
  width: fit-content;
}

#knapp:hover {
  width: 4vw;
}

#Rabatt {
  border: solid black;
  background: rgb(1, 56, 15);
  background: linear-gradient(
    119deg,
    rgba(1, 56, 15, 1) 0%,
    rgba(44, 255, 0, 1) 58%,
    rgba(178, 255, 188, 1) 100%
  );
  margin-top: 7.5vh;
  height: 12vh;
  overflow: auto;
}

#map {
  width: 50vw;
  height: 25%;
}

@media (max-width: 1300px) {
  #map {
    height: 40%;
  }
}
