@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:wght@300&family=Sigmar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main______________________________________ */

.head {
  width: 100%;
  height: 850px;
}

.navbar {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(13, 158, 141);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(0, 3, 0);
  opacity: 92%;
  position: sticky;
  top: 0;
}

/* ____________________________________________ */

li {
  list-style: none;
}

.menu_bar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.menulink {
  transition: 0.7s ease;
  color: rgb(13, 158, 141);
}

.menulink:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.fa-solid {
  color: white;
  width: 65px;
}

/* _________________________________ */

.rubrik {
  text-decoration: underline;
  margin-top: 2vh;
  font-size: xx-large;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
}

/* second main___________________________________________ */

.secondmain {
  display: flex;
  font-size: xx-large;
}

.sektion {
  width: 100%;
  height: 60vh;
  margin: auto;
  display: block;
  text-align: center;
}

.minirubrik {
  margin-top: 25px;
  margin-bottom: 200px;
  font-size: larger;
  font-family: "Sigmar", cursive;
}

.ett {
  background-image: url(bilder/clothing.webp);
  background-size: cover;
}

.två {
  background-image: url(bilder/F1\ drivers.avif);
  background-size: cover;
}

.button {
  background-color: white;
  color: black;
  text-decoration: none;
  border: solid black;
  font-size: 20px;
  padding: 5px;
  font-weight: 1000;
  box-shadow: 3px 3px 2px 1px rgb(190, 190, 190);
}

.button:hover {
  font-size: 24px;
  box-shadow: 3px 3px 2px 1px rgb(100, 100, 100);
}

/* thirdsection--------------------------------------------------------- */

.thirdmain {
  height: 80vh;
  display: flex;
}

.container {
  border: solid black;
  width: 100%;
  font-family: "Sigmar", cursive;
}

.scroll {
  border: solid black;
  width: 60%;
  margin-left: 17.5%;
  margin-top: 10vh;
  height: 40vh;
  padding-left: 5%;
  box-shadow: 5px 5px 2px 1px rgb(190, 190, 190);
  overflow: auto;
}

#car {
  width: 25vw;
  height: 35vh;
}

.ettan {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
  padding-top: 10vh;
}

.tvåan {
  display: flex;
}

.f1 {
  margin-top: 15vh;
  margin-left: 5vw;
  width: 20vw;
  height: 25vh;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.textbubbla {
  height: 60%;
  width: 40%;
  margin-left: 10%;
  margin-top: 20%;
  border: solid black;
  border-radius: 50%;
  text-align: center;
  padding-top: 8%;
}

.text_i_bubbla {
  width: 60%;
  margin-left: 20%;
}

/* Contactmain_______________________________________________ */

.contactmain {
  background-color: rgb(169, 169, 169);
  height: 50vh;
  display: flex;
}

.kontakt {
  width: 100%;
  display: flex;
  flex-direction: column;
  column-count: 3;
  text-align: center;
}

.kontakter {
  padding-top: 5vh;
}

.uno {
  color: blanchedalmond;
}

.dos {
  color: brown;
}

.tres {
  color: cadetblue;
}

.cuatro {
  color: cornflowerblue;
  font-style: initial;
  font-family: "Sigmar";
}

/* store______________________________________ */

.mittensida {
  background-color: black;
  height: 100vh;
}

.rubrik_store {
  color: white;
  text-decoration: underline;
  text-align: center;
  padding-top: 2vh;
}

.bodyn {
  display: flex;
  flex-direction: row;
}

.item {
  margin-top: 5vh;
  height: 70vh;
  width: 50%;
  border: solid rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clothing {
  margin-top: 2%;
  width: 50%;
  height: 70%;
  box-shadow: 5px 10px 5px rgb(66, 65, 65);
  border: solid black;
}

.vara {
  margin-top: 1vh;
  color: white;
  text-align: center;
}

.namn {
  color: white;
  font-size: x-large;
  text-decoration: underline;
}

button {
  width: 5%;
  border: solid black;
  box-shadow: 2px 3px 2px rgb(66, 65, 65);
}

button:hover {
  font-size: 15px;
  padding: 2px;
  width: 6%;
}

/* shoppingcart______________________ */

.cart {
  font-size: larger;
}

.cartpart {
  border: solid black;
  width: 100%;
  text-align: center;
}

.tabortdiv {
  border: solid black;
  height: 50vh;
  width: 100%;
  text-align: center;
}

#delete {
  margin-top: 5vh;
  font-size: 50px;
  background-color: red;
  color: white;
  border: solid white;
  width: 30vw;
  height: 30vh;
  border-radius: 50%;
}

/* f1_______________________ */

.info {
  border: solid black;
  width: 50%;
  height: 100vh;
  text-align: center;
}

.information {
  font-size: 75%;
}

.bild {
  height: 50vh;
  width: 100%;
  background-image: url(bilder/F1\ drivers.avif);
  background-size: cover;
  background-position: center;
}

#formulär {
  border: solid black;
  width: 50%;
  height: 100vh;
  text-align: center;
}

.rubrik_formulär {
  margin: 5vh 0;
  text-decoration: underline;
}

input {
  width: 100%;
  margin: 2.5vh 0;
  display: inline-block;
}

input:hover {
  transition: 0.8s;
  background-color: rgb(216, 229, 233);
}

#knapp {
  width: fit-content;
}

.knapp:hover {
  width: 4vw;
}

#Rabatt {
  border: solid black;
  background: rgb(1, 56, 15);
  background: linear-gradient(
    119deg,
    rgba(1, 56, 15, 1) 0%,
    rgba(44, 255, 0, 1) 58%,
    rgba(178, 255, 188, 1) 100%
  );
  margin-top: 7.5vh;
  height: 12vh;
}

.roliga_figurer {
  display: flex;
  flex-direction: row;
  padding-top: 3%;
  justify-content: space-around;
}

.fa-hippo {
  color: black;
}

.fa-cat {
  color: black;
}

/* media__________________________ */

@media (max-width: 1500px) {
  video {
    display: none;
  }
  .head {
    background-image: url(bilder/astonbackground.jpeg);
    background-size: cover;
    background-position: center;
  }

  .textbubbla {
    height: 40%;
  }
}

/* hamburger media__________________________ */

@media (max-width: 2500px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(315deg);
  }

  .menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .menuitem {
    margin: 16px 0;
  }

  .menu.active {
    left: 0;
  }
}
